/* Your styles here */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EAEEEE;
    width: 100%;
}

/* HEADER */
header{
    background-color: #22303F;
}
header img{
    margin: 0.5em 2em;
    width: 8em;
}
header ul{
    background-color: #364859;
    padding: 0.5em;
    font-size: 0.8em;
}
header ul li{
    margin-left: 2em;
    display: inline;
    color: white;
}
header ul li a{
    color: white;
    text-decoration: none;
}


/* MAIN */
main{
    margin: 0 2em;
}
main .gift-cards{
    background-color: #EC6533;
    color: white;
    text-align: center;
    padding: 0.5em;
    margin: 2em 0;
}
main .title{
    background-image: url(../images/bg-image.png);
    background-size: auto;
    background-repeat: repeat;
    color: white;
    text-align: center;
}
h1{
    font-size: 2em;
    font-weight: 600;
    padding-top: 2em;
}
main .title p{
    padding: 2em 0;
}


/* ARTICLE */
article{
    background-color: white;
    margin: 2em 0;
    width: 100%;
}

article h3{
    display: inline-block;
    padding: 1em;
    padding-bottom: 0;
}
article button{
    border: none;
    background-color: white;
    color: #317588;
    font-weight: 600;
    font-size: 0.8em;
}

article div.img{
    height: 20em;
    padding: 0.5em;
    text-align: center;
    padding-bottom: 1em;
}
article img{
    border-radius: 1em;
    height: 100%;
    width: 20%;
    object-fit: cover;
    margin: 0 0.5em;
    display: inline-block;
    box-shadow: 0.5em 0.5em 0.5em rgb(213, 213, 213);
}


/* SECTION */
section{
    text-align: center;
}
figure{
    margin-bottom: 1.2em;
}
figcaption{
    margin-top: 0.2em;
}
section img{
    width: 100%;
    
}
section h3{
    display: inline-block;
}
section button{
    border: none;
    color: #317588;
    font-weight: 600;
    font-size: 0.8em;
}


/* FOOTER */
footer{
    background-color: #22303F;
    text-align: center;
}
footer p{
    background-color: #364859;
    padding: 0.5em;
}
footer p a{
    color: white;
    font-size: 0.8em;
}
footer img{
    width: 9em;
    padding: 2em;
}